/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;800;900&display=swap');
/* Variables */
:root{
    --primary-color: #ff42a5;
    --secondary-color: #4ec5f7;
}
/* global styles */
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    color: #534c64;
    font-weight: 500;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.primary-color{
    color: var(--primary-color)
}
.primary-btn{
    background-color: var(--primary-color);
}
.secondary-btn{
    background-color: var(--secondary-color);
}
.primary-btn, .secondary-btn{
    border: 0;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 1rem;
}
.dark-text{
    color: #000000;
}
.gradient-text{
    background: -webkit-linear-gradient(#de4cc1, #a055e4);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 800;
}
.section-spacing{
    padding: 2rem 0;
}
p{
    line-height: 1.5rem;
}
/* Sharing styles with multiple classes */
nav .container, 
.header-content .container,
.gamer .container,
.gamer-vantage .container .vantage,
.careers .container,
.careers .career-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Navigation Bar Styles */
nav{
    box-shadow: 0 0 20px -15px #534c64;
    padding: 1.5rem 0;
}

.logo h2{
    font-size: 2.8rem;
}
.logo img{
    width: 60px;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    padding: 0.8rem 1.5rem;
}
nav ul li a{
    text-decoration: none;
    transition: color 0.3s;
}
nav ul li a:hover {
    color: var(--primary-color);
}
nav ul li.social-link{
    background-color: #e7e6e9;
    border-radius: 8px;
}
nav ul li.social-link i{
    margin: 0 0 0 6px;
    font-size: 1rem;
}
nav ul li.social-link i.fa-youtube{
    color: #f61c0d
}
nav ul li.social-link i.fa-tiktok{
    color: #000000;
}
/* Header content styles */
.header-content{
    background: url(../images/Group14.png) no-repeat;
    background-size: 50% 100%;
    padding-top: 1rem;
}
.header-content .head-text h2
{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
}
.header-content .head-text h2 span{
    font-size: 6rem;
    font-weight: 800;
}
.header-content .facilities,
.header-content .buttons{
    padding: 1rem 0;
}
.header-content .head-text p i{
    font-size: 0.8rem;
}
.header-content .head-banner img{
    width: 75%;
    float: right;
}
/* Gamer Section Styles */
.gamer{
    background-color: #fff9fc;
    padding: 1.5rem 0;
}
.gamer-img img{
    width: 650px;
}
.gamer .gamer-text{
    text-align: right;
    padding-left: 6rem;
}
.gamer .gamer-text p{
    padding: 1rem 0;
}
.gamer .quote{
    font-size: 1.5rem;
    font-weight: 600;
}
/* Online Games section Styles */
.online-games .section-title{
    text-align: center;
}
.online-games .section-title h2,
.online-games .section-title .gradient-text{
    font-size: 3rem;
    font-weight: 600;
}
.online-games .section-title p{
    padding: 1rem 0;
}
.online-games .game-cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.online-games .game-cards .card img{
    width: 100%;
    margin: 0.8rem 0 1rem 0;
}
/* Gamer Vantage Styles */
.gamer-vantage .container .vantage{
    gap: 10rem;
    justify-content: flex-end;
}
.gamer-vantage .vantage-text h2{
    font-size: 3rem;
    font-weight: 700;
}
.gamer-vantage .vantage.section-spacing{
    padding-top: 3rem;
}
.gamer-vantage .vantage:first-child{
    text-align: right;
}
.gamer-vantage .vantage:last-child{
    flex-direction: row-reverse;
    text-align: left;
}
.gamer-vantage .vantage .vantage-image{
    position: relative;
}
.gamer-vantage .vantage .over-img{
    position: absolute;
    bottom: -40px;
}
.gamer-vantage .vantage:first-child .over-img{
    left: -80px;
}
.gamer-vantage .vantage:last-child .over-img{
    right: -80px;
}
.gamer-vantage .vantage .over-img img{
    max-width: 220px;
}
.gamer-vantage .vantage-image img{
    max-width: 540px;
}

/* Careers Section styles */
.careers * {
    color: #FFFFFF;
}
.careers{
    background-color: var(--primary-color);
    margin-top: 3rem;
}
.careers .career-list li{
    list-style: none;
    line-height: 2;
}
.careers .title-text {
    padding-bottom: 1rem;
}
.careers .title-text h2{
    padding: 1rem 0;
    font-size: 3rem;
}
.careers .title-text p{
    font-weight: 400;
}
.careers .career-image img{
    max-width: 600px;
}

/* Catagories Section Styles */
.catagories{
    background: #fff9fc;
    padding:4rem 0;
}
.catagories ul{
    justify-content: center;
    flex-wrap: wrap;
    gap:10px;
}
.catagories ul,
.catagories ul li a{
    display: flex;
    align-items: center;
}
.catagories ul li{
    list-style: none;
}
.catagories ul li img{
    width: 60px;
    margin-right: 10px;
}
.catagories ul li a{
    text-decoration: none;
    padding: 0px 15px 0px 0;
    justify-content: unset;
    background: #FFFFFF;
    border-radius: 50px;
    border: 1px solid transparent;
    transition: all 0.5s;
}
.catagories ul li a:hover{
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}

/* Styles for Footer */
.light-text{
    color: #FFFFFF;
}
footer{
    background: #0b0223;
    padding: 3rem 0;
}
footer .container div{
    padding: 1rem 0;
    text-align: center;
}
footer .footer-nav ul,
footer .footer-social-links ul,
footer .terms-policies ul{
    display: flex;
    justify-content: center;
}
footer .footer-nav ul li,
footer .footer-social-links ul li,
footer .terms-policies ul li{
    list-style: none;
    margin: 0 1rem;
}

footer .footer-nav li a,
footer .footer-social-links li a i,
footer .terms-policies ul li a{
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.5s;
}

footer .footer-social-links li a i{
    font-size: 1.5rem;
}
footer .footer-nav li a:hover,
footer .footer-social-links li a:hover i{
    color: var(--primary-color);
}
footer .terms-policies ul li a{
    color: unset;
}